@using Codesanook.Examples.Core.Models
@model ShippingAdress
@{
}
<html>
<head>
    <style type="text/css">
        @@media print {
            @@page {
                size: A4;
                margin-left: 10mm;
                margin-right: 10mm;
            }

            table, tr, td, ul {
                margin: 0;
                padding: 0;
            }

            table {
                border-spacing: 0px;
            }

            tr {
                page-break-inside: avoid;
                page-break-after: auto;
            }

            td {
                vertical-align: top;
                border: 1px solid #000;
                padding: 5px;
            }

            ul {
                list-style: none;
            }

            strong {
                display: inline-block;
                margin-top: 10px;
            }
        }
    </style>
</head>
<body>
    <table>
        @foreach (var address in Model.RecieverAddresses)
        {
            <tr>
                <td>
                        <h4>ชื่อและที่อยู่ผู้ส่ง</h4>
                        <p>
                            @Html.Raw(Model.SenderAddress)
                        </p>
                </td>
                <td>
                    <div class="cell-content">
                        <h4>ชื่อและที่อยู่ผู้รับ</h4>
                        <ul>
                            <li>
                                @address.FullName (Reference Id: @address.ReferenceId)
                            </li>
                            <li>
                                โทร @address.MobilePhoneNumber
                            </li>
                            <li>
                                @address.Address
                            </li>
                            <li>
                                <strong> @address.ZipCode </strong>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }
    </table>
</body>
</html>
